h1{
    color: darkgoldenrod;
    font-size: 8vw;
}

html{
    background-color:antiquewhite;
    font-size: 12px;
    text-align: center;
}

body{
    font-size: 12px;
}

h2{
    color:darkred;
    height: 10vh;
    background-color:bisque;
    font-size: 300%;
}

p{
    font-size: 20px;
    line-height: 2em;
}

#spring, #summer, #winter, #fall{
    font-size: 2rem;
    font-style: italic;
    color: burlywood;
}



